html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app > .header {
  flex: 0 1 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.app > .header > .above-dir-tree > button:first-child {
  margin: 0 5px 0 0;
}

.app > .header > .above-dir-tree > button {
  margin: 0 5px;
}

.app > .content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.app > .content > .directory-tree {
  max-width: 300px;
  min-width: 300px;
  border-right: 1px solid #f0f0f0;
}

.app > .content > .editor {
  flex: 1 1 auto;
  overflow: hidden;
}

.app .ant-tree-node-content-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
